{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Add Zone
{% endblock title %}


{% block content %}
<div class="container">
    <div class="container my-3">
        <a href="/">
            <i class="fs-1 bi bi-backspace text-dark"></i>
          
        </a>
    </div>
    <h3>{{object.role}}</h3>
    <div class="col-lg-5">
        <form action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="text-end my-3">
                <button class="btn btn-primary"
                    type="submit">submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}